.list-group-item {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  color: white !important;
  text-decoration: none;
  background-color: #121824 !important;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

ul {
  list-style-type: none !important;
}

.active {
  background-color: #394be9 !important;
  /* color: black !important; */
}
