<ul class="list-group" style="position: fixed; margin-bottom: 40px; width: 20%">
  <li
    [ngClass]="
      route === '/streams'
        ? 'list-group-item d-flex justify-content-between align-items-start active'
        : 'list-group-item d-flex justify-content-between align-items-start'
    "
    style="margin: 5px; padding: 7px; cursor: pointer"
    (click)="pushStream()"
  >
    <div class="ms-2 me-auto">
      <div class="fw-bold">Feed</div>
    </div>
    <i
      class="fa-solid fa-house"
      style="font-size: 17px; margin-right: 5px; margin-top: 2px"
    ></i>
  </li>
  <li
    [ngClass]="
      route === '/explore'
        ? 'list-group-item d-flex justify-content-between align-items-start active'
        : 'list-group-item d-flex justify-content-between align-items-start'
    "
    style="margin: 5px; padding: 7px; cursor: pointer"
    (click)="pushExplore()"
  >
    <div class="ms-2 me-auto">
      <div class="fw-bold">Explore</div>
    </div>
    <i
      class="fa-solid fa-magnifying-glass"
      style="font-size: 17px; margin-right: 5px; margin-top: 2px"
    ></i>
  </li>
  <li
    [ngClass]="
      route === '/people'
        ? 'list-group-item d-flex justify-content-between align-items-start active'
        : 'list-group-item d-flex justify-content-between align-items-start'
    "
    style="margin: 5px; padding: 7px; cursor: pointer"
    (click)="pushPeople()"
  >
    <div class="ms-2 me-auto">
      <div class="fw-bold">People</div>
    </div>
    <i
      class="fa-solid fa-user-group"
      style="font-size: 17px; margin-right: 5px; margin-top: 2px"
    ></i>
  </li>
  <li
    [ngClass]="
      route === '/followers'
        ? 'list-group-item d-flex justify-content-between align-items-start active'
        : 'list-group-item d-flex justify-content-between align-items-start'
    "
    style="margin: 5px; padding: 7px; cursor: pointer"
    (click)="pushFollowers()"
  >
    <div class="ms-2 me-auto">
      <div class="fw-bold">Followers</div>
    </div>

    <i
      class="fa-solid fa-users"
      style="font-size: 17px; margin-right: 5px; margin-top: 2px"
    ></i>
  </li>

  <li
    [ngClass]="
      route === '/following'
        ? 'list-group-item d-flex justify-content-between align-items-start active'
        : 'list-group-item d-flex justify-content-between align-items-start'
    "
    style="margin: 5px; padding: 7px; cursor: pointer"
    (click)="pushFollowing()"
  >
    <div class="ms-2 me-auto">
      <div class="fw-bold">Following</div>
    </div>
    <i
      class="fa-solid fa-users"
      style="font-size: 17px; margin-right: 5px; margin-top: 2px"
    ></i>
  </li>
  <li
    [ngClass]="
      route === '/chats'
        ? 'list-group-item d-flex justify-content-between align-items-start active'
        : 'list-group-item d-flex justify-content-between align-items-start'
    "
    style="margin: 5px; padding: 7px; cursor: pointer"
    (click)="pushChats()"
  >
    <div class="ms-2 me-auto">
      <div class="fw-bold">Chats</div>
    </div>
    <i
      class="fa-solid fa-message"
      style="font-size: 17px; margin-right: 5px; margin-top: 2px"
    ></i>
  </li>
  <li
    [ngClass]="
      route === '/photos'
        ? 'list-group-item d-flex justify-content-between align-items-start active'
        : 'list-group-item d-flex justify-content-between align-items-start'
    "
    style="margin: 5px; padding: 7px; cursor: pointer"
    (click)="pushPhotos()"
  >
    <div class="ms-2 me-auto">
      <div class="fw-bold">Photos</div>
    </div>
    <i
      class="fa-solid fa-image"
      style="font-size: 17px; margin-right: 5px; margin-top: 2px"
    ></i>
  </li>
  <li
    [ngClass]="
      route === '/notifications'
        ? 'list-group-item d-flex justify-content-between align-items-start active'
        : 'list-group-item d-flex justify-content-between align-items-start'
    "
    style="margin: 5px; padding: 7px; cursor: pointer"
    (click)="pushNotifications()"
  >
    <div class="ms-2 me-auto">
      <div class="fw-bold">Notifications</div>
    </div>
    <i
      class="fa-solid fa-bell"
      style="font-size: 17px; margin-right: 5px; margin-top: 2px"
    ></i>
  </li>
  <li
    [ngClass]="
      route === '/saved'
        ? 'list-group-item d-flex justify-content-between align-items-start active'
        : 'list-group-item d-flex justify-content-between align-items-start'
    "
    style="margin: 5px; padding: 7px; cursor: pointer"
    (click)="pushSaved()"
  >
    <div class="ms-2 me-auto">
      <div class="fw-bold">Saved</div>
    </div>
    <i
      class="fa-regular fa-bookmark"
      style="font-size: 17px; margin-right: 5px; margin-top: 2px"
    ></i>
  </li>
  <li
    [ngClass]="
      route === '/profile'
        ? 'list-group-item d-flex justify-content-between align-items-start active'
        : 'list-group-item d-flex justify-content-between align-items-start'
    "
    style="margin: 5px; padding: 7px; cursor: pointer"
    (click)="pushProfile()"
  >
    <div class="ms-2 me-auto">
      <div class="fw-bold">Profile</div>
    </div>
    <i
      class="fa-regular fa-user"
      style="font-size: 17px; margin-right: 5px; margin-top: 2px"
    ></i>
  </li>
</ul>
