<ul class="list-group" style="position: fixed; margin-bottom: 40px; width: 20%">
  <li
    class="list-group-item d-flex justify-content-between align-items-start active"
    style="margin: 5px; padding: 10px"
  >
    <div class="ms-2 me-auto">
      <div class="fw-bold">Feed</div>
    </div>
    <i
      class="fa-solid fa-house"
      style="font-size: 17px; margin-right: 5px; margin-top: 2px"
    ></i>
  </li>
  <li
    class="list-group-item d-flex justify-content-between align-items-start"
    style="margin: 5px; padding: 10px"
  >
    <div class="ms-2 me-auto">
      <div class="fw-bold">Explore</div>
    </div>
    <i
      class="fa-solid fa-magnifying-glass"
      style="font-size: 17px; margin-right: 5px; margin-top: 2px"
    ></i>
  </li>
  <li
    class="list-group-item d-flex justify-content-between align-items-start"
    style="margin: 5px; padding: 10px"
  >
    <div class="ms-2 me-auto">
      <div class="fw-bold">People</div>
    </div>
    <i
      class="fa-solid fa-user-group"
      style="font-size: 17px; margin-right: 5px; margin-top: 2px"
    ></i>
  </li>
  <li
    class="list-group-item d-flex justify-content-between align-items-start"
    style="margin: 5px; padding: 10px; align-items: center"
  >
    <div class="ms-2 me-auto">
      <div class="fw-bold">Followers</div>
    </div>

    <i
      class="fa-solid fa-users"
      style="font-size: 17px; margin-right: 5px; margin-top: 2px"
    ></i>
  </li>

  <li
    class="list-group-item d-flex justify-content-between align-items-start"
    style="margin: 5px; padding: 10px"
  >
    <div class="ms-2 me-auto">
      <div class="fw-bold">Following</div>
    </div>
    <i
      class="fa-solid fa-users"
      style="font-size: 17px; margin-right: 5px; margin-top: 2px"
    ></i>
  </li>
  <li
    class="list-group-item d-flex justify-content-between align-items-start"
    style="margin: 5px; padding: 10px"
  >
    <div class="ms-2 me-auto">
      <div class="fw-bold">Chats</div>
    </div>
    <i
      class="fa-solid fa-message"
      style="font-size: 17px; margin-right: 5px; margin-top: 2px"
    ></i>
  </li>
  <li
    class="list-group-item d-flex justify-content-between align-items-start"
    style="margin: 5px; padding: 10px"
  >
    <div class="ms-2 me-auto">
      <div class="fw-bold">Photos</div>
    </div>
    <i
      class="fa-solid fa-image"
      style="font-size: 17px; margin-right: 5px; margin-top: 2px"
    ></i>
  </li>
  <li
    class="list-group-item d-flex justify-content-between align-items-start"
    style="margin: 5px; padding: 10px"
  >
    <div class="ms-2 me-auto">
      <div class="fw-bold">Notifications</div>
    </div>
    <i
      class="fa-solid fa-bell"
      style="font-size: 17px; margin-right: 5px; margin-top: 2px"
    ></i>
  </li>
</ul>
