<ul class="list-group" style="position: fixed; margin-bottom: 40px; width: 20%">
  <li
    [ngClass]="
      route === '/streams'
        ? 'list-group-item d-flex justify-content-between align-items-start active'
        : 'list-group-item d-flex justify-content-between align-items-start'
    "
    style="margin: 5px; padding: 7px; cursor: pointer"
    (click)="pushStream()"
  >
    <div class="ms-2 me-auto">
      <div class="fw-bold">
        <i
          class="fa-solid fa-house"
          style="font-size: 17px; margin-right: 5px; margin-top: 2px"
        ></i>
        Feed
      </div>
    </div>
  </li>
  <li
    [ngClass]="
      route === '/explore'
        ? 'list-group-item d-flex justify-content-between align-items-start active'
        : 'list-group-item d-flex justify-content-between align-items-start'
    "
    style="margin: 5px; padding: 7px; cursor: pointer"
    (click)="pushExplore()"
  >
    <div class="ms-2 me-auto">
      <div class="fw-bold">
        <i
          class="fa-solid fa-magnifying-glass"
          style="font-size: 17px; margin-right: 5px; margin-top: 2px"
        ></i>
        Explore
      </div>
    </div>
  </li>
  <li
    [ngClass]="
      route === '/people'
        ? 'list-group-item d-flex justify-content-between align-items-start active'
        : 'list-group-item d-flex justify-content-between align-items-start'
    "
    style="margin: 5px; padding: 7px; cursor: pointer"
    (click)="pushPeople()"
  >
    <div class="ms-2 me-auto">
      <div class="fw-bold">
        <i
          class="fa-solid fa-user-group"
          style="font-size: 17px; margin-right: 5px; margin-top: 2px"
        ></i>
        People
      </div>
    </div>
  </li>
  <li
    [ngClass]="
      route === '/followers'
        ? 'list-group-item d-flex justify-content-between align-items-start active'
        : 'list-group-item d-flex justify-content-between align-items-start'
    "
    style="margin: 5px; padding: 7px; cursor: pointer"
    (click)="pushFollowers()"
  >
    <div class="ms-2 me-auto">
      <div class="fw-bold">
        <i
          class="fa-solid fa-users"
          style="font-size: 17px; margin-right: 5px; margin-top: 2px"
        ></i>
        Followers
      </div>
    </div>
    <div style="margin-right: 5px">
      {{ user?.followers?.length === 0 ? "" : user?.followers?.length }}
    </div>
  </li>

  <li
    [ngClass]="
      route === '/following'
        ? 'list-group-item d-flex justify-content-between align-items-start active'
        : 'list-group-item d-flex justify-content-between align-items-start'
    "
    style="margin: 5px; padding: 7px; cursor: pointer"
    (click)="pushFollowing()"
  >
    <div class="ms-2 me-auto">
      <div class="fw-bold">
        <i
          class="fa-solid fa-users"
          style="font-size: 17px; margin-right: 5px; margin-top: 2px"
        ></i>
        Following
      </div>
    </div>
    <div style="margin-right: 5px; font-weight: bold">
      {{ user?.following?.length === 0 ? "" : user?.following?.length }}
    </div>
  </li>
  <li
    [ngClass]="
      route === '/chats'
        ? 'list-group-item d-flex justify-content-between align-items-start active'
        : 'list-group-item d-flex justify-content-between align-items-start'
    "
    style="margin: 5px; padding: 7px; cursor: pointer"
    (click)="pushChats()"
  >
    <div class="ms-2 me-auto">
      <div class="fw-bold">
        <i
          class="fa-solid fa-message"
          style="font-size: 17px; margin-right: 5px; margin-top: 2px"
        ></i>
        Chats
      </div>
    </div>
  </li>
  <li
    [ngClass]="
      route === '/photos'
        ? 'list-group-item d-flex justify-content-between align-items-start active'
        : 'list-group-item d-flex justify-content-between align-items-start'
    "
    style="margin: 5px; padding: 7px; cursor: pointer"
    (click)="pushPhotos()"
  >
    <div class="ms-2 me-auto">
      <div class="fw-bold">
        <i
          class="fa-solid fa-image"
          style="font-size: 17px; margin-right: 5px; margin-top: 2px"
        ></i>
        Photos
      </div>
    </div>
  </li>
  <li
    [ngClass]="
      route === '/notifications'
        ? 'list-group-item d-flex justify-content-between align-items-start active'
        : 'list-group-item d-flex justify-content-between align-items-start'
    "
    style="margin: 5px; padding: 7px; cursor: pointer"
    (click)="pushNotifications()"
  >
    <div class="ms-2 me-auto">
      <div class="fw-bold">
        <i
          class="fa-solid fa-bell"
          style="font-size: 17px; margin-right: 5px; margin-top: 2px"
        ></i>
        Notifications
      </div>
    </div>
    <div style="margin-right: 5px">
      {{ notificationCount === 0 ? "" : notificationCount }}
    </div>
  </li>
  <li
    [ngClass]="
      route === '/saved'
        ? 'list-group-item d-flex justify-content-between align-items-start active'
        : 'list-group-item d-flex justify-content-between align-items-start'
    "
    style="margin: 5px; padding: 7px; cursor: pointer"
    (click)="pushSaved()"
  >
    <div class="ms-2 me-auto">
      <div class="fw-bold">
        <i
          class="fa-regular fa-bookmark"
          style="font-size: 17px; margin-right: 5px; margin-top: 2px"
        ></i>
        Saved
      </div>
    </div>
    <div style="margin-right: 5px">
      {{ user?.saved?.length === 0 ? "" : user?.saved?.length }}
    </div>
  </li>
  <li
    [ngClass]="
      route === '/profile'
        ? 'list-group-item d-flex justify-content-between align-items-start active'
        : 'list-group-item d-flex justify-content-between align-items-start'
    "
    style="margin: 5px; padding: 7px; cursor: pointer"
    (click)="pushProfile()"
  >
    <div class="ms-2 me-auto">
      <div class="fw-bold">
        <i
          class="fa-regular fa-user"
          style="font-size: 17px; margin-right: 5px; margin-top: 2px"
        ></i>

        Profile
      </div>
    </div>
  </li>
</ul>
